@CHARSET "UTF-8";

/***
*Stylesheet for stone910.com
*version 0.1
*timestamp Friday, May 23rd, 2014
*author Bryan.WEI, bryan.wei@hotmail.com, volving.net
*
*/
/* Universal begins */
body {
    font-family: "Microsoft YaHei UI",Arial;


}
p {
    margin-top: 0;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-radius: 5px;
    background-color: #f7f7f7;
    height:auto;
}

.header, .bulk, .footer {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: /*940px*/ 97.916667%;
}

.header {
    height: 130px;
    text-align: center;
}

.logo, .banner {
    display: block;
    height: 100px;
    float: left;
    margin-bottom:2px;
}

.logo {
    width: 190px;
    background-image: url(../../img/logo_header.png);
    border-radius: 10px;
}

.banner {
    width: 750px;
}

#title {
    font-size: 2em;
    font-weight: bold;
    color: #0094ff;
    margin-top: 16px;
}

#sub_title {
    font-size: 1em;
    color: #808080;
}

#message {
    border-top:2px solid orange;
    height: 18px;
    font-size: .9em;
    width: inherit;
    overflow: hidden;
    text-align: left;
    color: coral;
    float:left;
}

    #message a {
        color: coral;
        text-decoration: none;
    }

.navigation {
    height: 30px;
    width:940px;
    float: left;
   
    background-image: url(../../img/bg-menu-list.png);
    background-repeat: repeat-x;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    margin-bottom:2px;
}

    .navigation ul {
        margin-left: 0px;
        height: 28px;
        float: left;
        display: block;
        margin-top:0;
        margin-left: 0px;
        margin-right: 0px;
        margin-right: 0px;
    }

        .navigation ul li {
            
            height: 25px;
            width: 90px;
            display: inline-block;
            float: left;
            margin-left: -36px;
            margin-right: 36px;
            padding-top:5px;
            color: #e8e8e8;
        }

            .navigation ul li a {
                text-decoration: none;
                color: #e8e8e8;
            }

            .navigation ul li:hover {
                color: yellow;
                cursor: pointer;
                font-family:Arial;
                font-weight:bolder;
            }

.bulk {
    display:block;
    clear:both;
    height:auto;
}

.sidebar {
    float: left;
    width: 225px;
    min-height:400px;
    background-color: #ff6a00;
}
    .sidebar .title,.sidebar .calc {
        width: /*220px*/23.404255%;
        height: auto;
        margin-top: 5px;
        margin-left:5px;
    }
    .sidebar .title, .content .title {
        margin-top:5px;
        margin-left:5px;
        border-bottom:1px solid lawngreen;
        font-size: 1.3em;
        font-weight: bold;
    }
    .sidebar .title {
        width: 96%;
    }
.content .title {
    width: 98%;
}
        .sidebar .calc .row .btn {
            cursor: pointer;
            margin-top: 5px;
            margin-left: 20px;
            width: 77.272727%;
            border-radius: 5px;
            background-color: orange;
            text-align: center;
        }

        .sidebar .calc .row {
            width: 220px;
            clear: left;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 5px;
            margin-right: 5px;
        }

            .sidebar .calc .row .lbl {
                width: 114px;
                font-size: .8em;
                font-weight: bold;
                float: left;
                color: black;
            }

.content {
    margin-left: 2px;
    float: right;
    width: 713px;
    min-height: 400px;
    height:auto;
    background-color: #ff6a00;
}

.calc {
    border-radius: 5px;
    width: 220px;
    float: left;
}



.footer {
    width: 940px;
    height: 55px;
    float:left;

    margin-top:2px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: #ff6a00;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    background-image: url(../../img/bg-menu-list.png);
    background-size:contain;
    background-repeat: repeat-x;


    font-size:smaller;
    color:white;
    
}

.bd {
    border: 2px solid red;
}

/*Screen width no wider than 800px*/
@media screen and (max-width:800px) {
    .wrapper {
        width: 800px;
    }
    .header,.bulk,.footer {
        width: 790px;
        margin-left:5px;
        margin-right:5px;
    }
    .logo, .banner {
        height: 100px;
    }
    .logo {
        width: 190px;

    }
    .banner {
        width: 600px;
    }
    .navigation {
        width: 100%;
    }
    .bulk {
        display:block;
        height:auto;
    
    }
    .sidebar {
        width:225px;
    }
    .content {
        margin-left: 2px;
        margin-right: 0;
        width:563px;
    }

}

/*Screen width no wider than 480px*/
@media screen and (max-width:480px) {
    .wrapper {
        width: 480px;
        margin: 0px;
    }
     .header,.bulk,.footer {
        width: 470px;
        margin-left:5px;
        margin-right:5px;
    }
    .logo, .banner {
        height: 100px;
    }
    .logo {
        width: 190px;
        margin-left:140px;
    }
    .banner {
        width: 470px;
    }
    .navigation {
        width: 100%;
    }
    .bulk {
        display:block;
        height:auto;
    
    }
    .content {
        margin-top:2px;
        margin-left: 2px;
        margin-right: 0;
        width:470px;
    }
    .sidebar {
        width:470px;
    }
        .sidebar.title, .sidebar .calc {
            margin-left: 125px;
        }

}

/*Screen width no wider than 480px*/
@media screen and (max-width:320px) {
    .wrapper {
        width: 320px;
        margin: 0px;
    }
     .header,.bulk,.footer {
        width: 316px;
        margin-left:2px;
        margin-right:2px;
    }
    .logo {
        height: 100px;
    }
    
    .banner {
        height: 111px;
    }
    #title {
        margin-top: 0;
    }
    #message {
        height:28px;
        font-size:large;
        margin-top: -22px;
    }
    .logo {
        width: 190px;
        margin-left:63px;
    }
    .banner {
        width: 316px;
    }
    .navigation {
        width: 100%;
    }
    .bulk {
        display:block;
        height:auto;
    
    }
    .content {
        margin-left: 2px;
        margin-right: 0;
        width:316px;
    }
    .sidebar {
        width:316px;
        margin-top:2px;
    }
        .sidebar.title, .sidebar .calc {
            margin-left:45px;
        }

}
/**************************************************************/
/* Universal ends */
/**************************************************************/
/* Header begins */
/* Header ends */
/**************************************************************/
/* Body begins */

/* Body ends */
/**************************************************************/
/* Bulk begins */
/* Bulk ends */
/**************************************************************/
/* Banner begins */
/* Banner ends */
/**************************************************************/
/* Footer begins */
/* Footer ends */
/**************************************************************/
/* Ads begin */
/* Ads end */
/**************************************************************/
